<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню запросов</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>
<h2 style="margin-left: 20%; margin-top: 10px">Меню запросов</h2>
<br>
<div class="col-md-3", style="border-style: none; background-color: lavenderblush; margin-left: 20%">
            <a href="/sql/sql_orders" style="font-size: 20px">Отчет о заказах</a>
            <br>
            <a href="/sql/sql_dish_rep" style="font-size: 20px">Отчет о популярности блюд</a>
            <br>
            <a href="/sql/sql_waiters_rep" style="font-size: 20px">Отчет о работе официантов</a>
            <br>
            <a href="/" style="font-size: 20px">Назад</a>
        </div>
</body>
</html>